*{
    margin: 0px;
    padding: 0px;
  }
  h1{
    text-align: center;
    position: relative;
    margin-left: 30px;
  }
  h2{
    text-align: center;
    position: relative;
    margin-left: 30px;
    font-size:25px;
    font-weight:bold;
  }
  h2#h2-left{
    text-align: center;
    position: relative;
    margin-left: -1250px;
    margin-bottom: 30px;
    font-size:25px;
    font-weight:bold;
  }
  h2#h2-right{
    text-align: center;
    position: relative;
    margin-left: -185px;
    margin-bottom: 30px;
    font-size:25px;
    font-weight:bold;
  }
  #nomeComNivel{
    text-align: center;
    position: relative;
    margin-left: -20px;
    font-size:25px;
    font-weight:bold;
  }
  html,body{
   /*background-image: url("fundo.jpg"); */
    background-color: #1f1f1f;
    background-position: 50% 90%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    letter-spacing: 1px;
  } 
  input.placeholder{
    text-align: center;
  }
  input{
    display: block; 
    height: 23px;
    width: 500px;
    margin:10px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 15pt;
    padding: 10px 20px;
    background-color: white;
    color: black;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-left: -50px;
  }
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: 40px;
    border: 1px solid black;
    font-size: 15pt;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 400px;
    margin-left: -30px;
      
}

a:hover, a:active {
  background-color: red;
}
  select{
    display: block; 
    height: 45px;
    width: 543px;
    margin:10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 15pt;
    padding: 5px 10px;
    background-color:white;
    color: black;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;/* para firefox */
    text-align-last: center; /* para chrome */
    margin-left:-50px;
  
  }
    label{display:block;
      text-align:center;/* para firefox */
      text-align-last: center; /* para chrome */
      color: white;
      font-size: 16pt;
      margin-left:40px;
    }
  option{
    align-items: center;
    justify-content: center;
    text-align:center;
  }
  div#corpo-form-Cad{
    /*background-color: rgb(43, 43, 97);*/
    width: 420px;
    margin: 0px auto 0px auto;
  }
  div#corpo-form h1,div#corpo-form-Cad h1{
    text-align: center;
    padding: 20px;
  }
  div#corpo-form-Cad-left{
    margin: 0px auto 0px 190px;
    margin-top: -570px;
  }
    div#corpo-form-Cad-right{
    margin-left: 1300px; 
    margin-top: -132px; 
  }
  div#corpo-form-Cad-right-nivel3{
    margin-left: 1300px; 
    margin-top: -352px; 
  }
  div#corpo-form-Cad-left-nivel3{
    margin: 0px auto 0px 190px;
    margin-top: -277px;
  }
  a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  a:hover{
    text-decoration: underline;
  }
  input[type=submit]{
    background-color: #FF0066;
    border: none;
    cursor: pointer;
    margin-left: 95px;
    color: white;
    height: 55px;
    width: 250px;
  }
  ::-webkit-input-placeholder{
    color: black;
    text-align: center;
  }
  :-moz-placeholder{
    color: black;
    text-align: center;
  }
  ::-moz-placeholder{
    color: black;
    text-align: center;
  }
  :-ms-input-placeholder{
    color:black;
    text-align: center;
  }
  div#msg-sucesso{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color:rgba(50, 205, 50,.3);
    border: 1px solid rgb(34, 139, 34);
  }
  div.msg-erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color:rgba(255, 128, 114, 0.3);
    border: 1px solid rgb(165, 42, 42);
}
#tipo{
    left: 50%; 
    margin: -210px 0 0 -185px; 
    padding:10px;
    position: absolute; 
    top: 420px;
    width:320px;
  }

#btn{
  left: 50%; 
  margin: -130px 0 0 -150px; 
  padding:10px;
  position: absolute; 
  top: 420px;

}
#bd-text{
  margin-bottom: 50px;
}
#logout{
  margin-left: 800px;
  font-size:16pt;
  height: 40px;
  width: 200px;
}

#logoutTelaPrincipal{
 font-size:18pt;
  height: 40px;
  width: 200px;
  margin-left: 75px;
}
#pesquisa{
  margin-left:-40px;
}
#pagBuscar{
  margin-left:0px;
  width: 100px;
}
#logoutMenu{
  margin-left: 820px;
  font-size:16pt;
  height: 40px;
  width: 200px;
  margin-top:400px;
} 