*{
    margin: 0px;
    padding: 0px;
  }
  h1{
    text-align: center;
    position: relative;
  }
  html,body{
    background-image: url("fundo.jpg");
    background-position: 50% 90%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    letter-spacing: 1px;
  }
  input{
    display: block; 
    height: 55px;
    width: 400px;
    margin:10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#corpo-form{
    /*background-color: rgb(43, 43, 97);*/
    width: 420px;
    margin: 150px auto 0px auto;
  }
  div#corpo-form-Cad{
    /*background-color: rgb(43, 43, 97);*/
    width: 420px;
    margin: 80px auto 0px auto;
  }
  div#corpo-form h1,div#corpo-form-Cad h1{
    text-align: center;
    padding: 20px;
  }
  a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  a:hover{
    text-decoration: underline;
  }
  input[type=submit]{
    background-color: #FF0066;
    border: none;
    cursor: pointer;
    margin-left: 30px;
  }
  ::-webkit-input-placeholder{
    color: #fff;
  }
  :-moz-placeholder{
    color: #fff;
  }
  ::-moz-placeholder{
    color: #fff;
  }
  :-ms-input-placeholder{
    color:#fff;
  }
  div#msg-sucesso{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color:rgba(50, 205, 50,.3);
    border: 1px solid rgb(34, 139, 34);
  }
  div.msg-erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color:rgba(255, 128, 114, 0.3);
    border: 1px solid rgb(165, 42, 42);
}
#tag{
    left: 50%; 
    margin: -210px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 250px;
  }
#btn{
  left: 50%; 
  margin: -130px 0 0 -210px; 
  padding:10px;
  position: absolute; 
  top: 250px;
  margin-left:-200px;
}
#bd-text{
  margin-bottom: 50px;
}
